/**
 * Styles for CAR code.  Have to be specific for minnpost styles.
 */

.mp .intro {
  margin-bottom: 3em;
  padding-top: 1em;
}

.mp .filter-form {
  margin-bottom: 4em;
  padding: 2em 4em;
}

.mp .filter-form .form-item label[for="sort-buttons"] {
  padding-right: .5em;
}

.mp .filter-form .form-item .button-group {
  margin: 0;
}

.mp .filter-form .form-parts {
  margin-right: 1em;
}

.mp .repo-list {
  margin-bottom: 4em;
}

.mp .repo-list .repo {
  margin-bottom: 4em;
}

.mp .repo-list .repo h4 {
  margin-bottom: .1em;
}

.mp .repo-list .repo h4 a {
  color: #282828;
}

.mp .repo-list .repo h4 a:hover {
  text-decoration: underline;
}

.mp .repo-list .repo .language-mark {
  opacity: .85;
  padding-left: .5em;
}

.mp .repo-list .repo .fa {
  padding-left: .5em;
}

.mp .limit-note {
  text-align: center;
  margin-bottom: 4em;
}

.mp .footnote {
  margin-bottom: 4em;
}


@media screen and (max-width: 880px) {
  .mp .filter-form {
    margin-bottom: 3em;
    padding: 2em 1em 1em 1em;
  }

  .mp .filter-form .form-part {
    width: 50%;
    min-height: 3em;
    margin-right: 0em;
    margin-bottom: 1em;
    float: left;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .mp .filter-form .form-part {
    width: 100%;
    min-height: 3em;
    margin-right: 0;
    margin-bottom: 1.5em;
    float: none;
  }
}
